.vscode
Evaluation
Videos/To_Label
FlyCheck.rar
runs/*
*.pdf
*.mp4
*.pt
*.onnx
_build
_static
training_outputs
.webm
.png
.jpg
datasets/training_ready/master_thesis
*.bag
datasets/raw-images/*
datasets/training_ready/augmented/*
datasets/training_ready/non_augmented/*

VelKoTek/src/Trackers/tracker_models/SMILEtrack/*
VelKoTek/src/Trackers/tracker_models/UCMCTrack/*
VelKoTek/src/Trackers/tracker_models/deep_sort/*
VelKoTek/src/Trackers/tracker_models/MOTRv2/*
VelKoTek/src/Trackers/tracker_models/OC_SORT/*

VelKoTek/src/EnvCameraEstimators/feature_models/SuperGluePretrainedNetwork/*
VelKoTek/src/EnvCameraEstimators/feature_models/ASLFeat/*
VelKoTek/src/EnvCameraEstimators/feature_models/MatchFormer/*

venv/